# Build folders
**/bin/
**/obj/

# Visual Studio
**/.vs/
*.user
*.suo

# Build results
**/[Dd]ebug/
**/[Rr]elease/
**/x64/
**/x86/
**/[Bb]uild/

# Publish folders
**/publish/

# Other
*.exe
*.dll
*.pdb